body{
    display: flex;
    flex-direction: column;
    height: 1500px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: rgb(66, 65, 65);
    color: rgb(236, 235, 235);
}
.card img{
    width: 170px;
}
.badge{
    position: relative;
    top: 30px;
    left: 50px;
}

.exe2{
    position: sticky;
    top: 0;
}
.navbar{
    height: 100px;
    background-color: rgb(136, 80, 189);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar a{
    color: azure;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: underline;
    color: bisque;
}

.exe3{
    height: 200px;
}
.box{
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
}
.box:nth-child(2){
    background-color: grey;
    z-index: 5;
    margin-top: 30px;
    margin-left: 30px;    
}
.box:nth-child(3){
    background-color: darkgrey;
    z-index: 10;
    margin-top: 60px;
    margin-left: 60px;  
}

.exe4{
    height: 300px;
    width: 250px;
    margin-top: 50px;
}
.scrollable_section{
    height: 300px;
    width: 250px;
    overflow-y: auto;
    overflow: hidden scroll;
}